html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
body #main-header {
  background-color: #131921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000000000;
}
@media (max-width: 501px) {
  body #main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 10px 5px 15px 5px;
  }
}
@media (max-width: 501px) {
  body #main-header .top-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 10px;
  }
}
body #main-header .top-phone .buttons-box {
  display: none;
}
@media (max-width: 501px) {
  body #main-header .top-phone .buttons-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body #main-header .main-logo {
  width: 120px;
  height: 51px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body #main-header .main-logo:hover {
  border: 1px solid white;
}
body #main-header .search-box {
  max-width: 760px;
  width: 100%;
  position: relative;
}
body #main-header .search-box .search {
  max-width: 730px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  padding: 1px 2px 1px 15px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 3px solid white;
  border-right: none;
  margin-right: 100px;
}
@media (max-width: 501px) {
  body #main-header .search-box .search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
@media (max-width: 501px) {
  body #main-header .search-box .search {
    margin-right: 0;
  }
}
body #main-header .search-box .search:focus {
  border: 3px solid #F08804;
  border-right: none;
}
body #main-header .search-box .search:focus ~ .search-button {
  border: 3px solid #F08804;
  border-left: none;
}
body #main-header .search-box .search-button {
  position: absolute;
  height: 45px;
  width: 50px;
  padding: 1px 6px 1px 6px;
  top: 0;
  right: -19px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 3px solid #FEBD69;
  border-left: none;
  background-color: #FEBD69;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
@media (max-width: 501px) {
  body #main-header .search-box .search-button {
    right: 0;
  }
}
body #main-header .search-box .search-button:hover {
  background-color: #fecb88;
  border: 3px solid #fecb88;
  border-left: none;
}
body #main-header .buttons-box {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 501px) {
  body #main-header .buttons-box {
    display: none;
  }
}
body #main-header .buttons-box .orders {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  text-align: left;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body #main-header .buttons-box .orders span {
  font-size: 13px;
}
body #main-header .buttons-box .orders:hover {
  border: 1px solid white;
}
body #main-header .buttons-box .cart {
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 5px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body #main-header .buttons-box .cart span {
  margin-bottom: 2px;
}
body #main-header .buttons-box .cart img {
  width: 50px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}
body #main-header .buttons-box .cart p {
  position: absolute;
  top: 6.5px;
  left: 30px;
  color: #F08804;
  font-size: 17px;
  font-weight: 700;
}
body #main-header .buttons-box .cart:hover {
  border: 1px solid white;
}

.items {
  margin-top: 61px;
}
@media (max-width: 501px) {
  .items {
    margin-top: 130px;
  }
}
.items .items-box {
  max-width: 100%;
  width: 100%;
  min-height: 100px;
  border: 1px solid rgb(231, 231, 231);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.items .items-box .item {
  max-width: 186px;
  width: 100%;
  height: 411px;
  border-right: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  padding: 40px 25px 25px 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 475px) {
  .items .items-box .item {
    border-left: 1px solid rgb(231, 231, 231);
    max-width: 120px;
    border-right: none;
    border-right: 1px solid rgb(231, 231, 231);
  }
}
.items .items-box .item .img-placeholder {
  max-width: 162px;
  width: 100%;
  height: 180px;
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.items .items-box .item .item-name {
  color: rgb(33, 33, 33);
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 475px) {
  .items .items-box .item .item-name {
    font-size: 15px;
  }
}
.items .items-box .item .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 186px;
  width: 100%;
  height: 22px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items .items-box .item .stars img {
  width: 100px;
  height: 20px;
}
.items .items-box .item .stars .ratings {
  margin-left: 10px;
  font-size: 17px;
  color: #017cb6;
  cursor: pointer;
}
.items .items-box .item .price {
  font-weight: 700;
}
.items .items-box .item select {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
          box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  outline: none;
}
.items .items-box .item select:focus {
  outline: 2px solid #F08804;
}
.items .items-box .item .button-div {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.items .items-box .item .button-div .added-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.items .items-box .item .button-div .added-message p {
  color: #067d62;
  font-weight: 600;
  margin-left: 5px;
  font-size: 18px;
}
.items .items-box .item .button-div .added-message i {
  font-size: 18px;
}
.items .items-box .item .button-div .added-message.active {
  opacity: 1;
}
.items .items-box .item .button-div button {
  background-color: rgb(255, 216, 20);
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.items .items-box .item .button-div button:hover {
  background-color: rgb(214, 181, 18);
}
.items .items-box .item .button-div button:active {
  background-color: rgb(255, 222, 60);
}

#check-out-header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 100000000;
}
#check-out-header .logo {
  margin-left: 20px;
}
#check-out-header .logo .pc-logo {
  max-width: 100px;
  width: 100%;
}
#check-out-header .logo .phone-logo {
  max-width: 34px;
  width: 100%;
  display: none;
}
@media (max-width: 575px) {
  #check-out-header .logo .pc-logo {
    display: none;
  }
  #check-out-header .logo .phone-logo {
    display: inline-block;
  }
}
#check-out-header .items {
  margin-top: 0;
}
#check-out-header .items h5 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}
#check-out-header .items h5 .item-count {
  color: rgb(0, 113, 133);
}
@media (max-width: 575px) {
  #check-out-header .items h5 {
    font-size: 20px;
  }
}
#check-out-header .lock {
  margin-right: 20px;
}
#check-out-header .lock i {
  font-size: 30px;
}
@media (max-width: 575px) {
  #check-out-header .lock i {
    font-size: 20px;
  }
}

.orders {
  margin-top: 150px;
  padding: 20px;
}
.orders .main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
@media (max-width: 1210px) {
  .orders .main-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.orders .main-container .riview {
  margin-right: 20px;
  max-width: 800px;
  width: 100%;
}
@media (max-width: 613px) {
  .orders .main-container .riview {
    margin-bottom: 30px;
  }
}
.orders .main-container .riview h1 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 18px;
}
.orders .main-container .riview p {
  font-size: 18px;
  margin-bottom: 10px;
}
.orders .main-container .riview button {
  border: none;
  background-color: rgb(255, 216, 20);
  padding: 13px 23px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.orders .main-container .riview button:hover {
  background-color: rgb(224, 190, 19);
}
.orders .main-container .riview .item-review {
  max-width: 800px;
  width: 100%;
  border: 1px solid rgb(222, 222, 222);
  padding: 10px;
  margin-bottom: 20px;
}
.orders .main-container .riview .item-review h1 {
  color: #007600;
}
.orders .main-container .riview .item-review .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 821px) {
  .orders .main-container .riview .item-review .item-info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.orders .main-container .riview .item-review .item-info .item-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.orders .main-container .riview .item-review .item-info .item-info-left img {
  max-width: 100px;
  width: 100%;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.orders .main-container .riview .item-review .item-info .item-info-left h3 {
  font-weight: 700;
  font-size: 19px;
  max-width: 320px;
  width: 100%;
  margin-bottom: 20px;
}
.orders .main-container .riview .item-review .item-info .item-info-left .price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 10px;
}
.orders .main-container .riview .item-review .item-info .item-info-left .quantity {
  display: inline-block;
  margin-right: 10px;
}
.orders .main-container .riview .item-review .item-info .item-info-left .update,
.orders .main-container .riview .item-review .item-info .item-info-left .delete {
  color: #017cb6;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.orders .main-container .riview .item-review .item-info .item-info-left .update:hover,
.orders .main-container .riview .item-review .item-info .item-info-left .delete:hover {
  color: #F08804;
}
.orders .main-container .riview .item-review .item-info .item-info-right {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.orders .main-container .riview .item-review .item-info .item-info-right h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 13px;
}
.orders .main-container .riview .item-review .item-info .item-info-right li {
  list-style-type: none;
}
.orders .main-container .riview .item-review .item-info .item-info-right li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.orders .main-container .riview .item-review .item-info .item-info-right li ul input {
  width: 20px;
  height: 37px;
  margin-right: 10px;
  cursor: pointer;
}
.orders .main-container .riview .item-review .item-info .item-info-right li ul input:focus {
  outline: 2px solid #F08804;
}
.orders .main-container .riview .item-review .item-info .item-info-right li ul .delivery-info .delivery-time {
  color: rgb(0, 118, 0);
  font-weight: 500;
  font-size: 18px;
}
.orders .main-container .riview .item-review .item-info .item-info-right li ul .delivery-info .shipping {
  color: rgb(120, 120, 120);
  font-size: 15px;
}
.orders .main-container .order-summary {
  max-width: 350px;
  width: 100%;
  border: 1px solid rgb(222, 222, 222);
  padding: 15px;
}
.orders .main-container .order-summary h1 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 18px;
}
.orders .main-container .order-summary .cost-info {
  width: 100%;
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-bottom: 14px;
}
.orders .main-container .order-summary .cost-info .items-cost {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: "roboto";
  margin-bottom: 14px;
}
.orders .main-container .order-summary .final-cost {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto";
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}
.orders .main-container .order-summary .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.orders .main-container .order-summary .pay p {
  font-size: 20px;
  margin-right: 10px;
}
.orders .main-container .order-summary .pay input {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.orders .main-container .order-summary .pay input:focus {
  outline: 2px solid #F08804;
}
.orders .main-container .order-summary .order {
  width: 100%;
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 13px 23px;
  border-radius: 8px;
  opacity: 0.5;
  font-size: 18px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  margin-bottom: 15px;
}
.orders .main-container .order-summary .order img {
  max-width: 150px;
  width: 100%;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.orders .main-container .order-summary .credit {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  opacity: 0.5;
  font-size: 18px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  margin-bottom: 15px;
  position: relative;
  display: none;
}
.orders .main-container .order-summary .credit i {
  margin-right: 20px;
  position: absolute;
  background-color: black;
  width: 250px;
  width: 20.25px;
  left: 30px;
  -webkit-animation: reveal 0.6s 1 linear;
          animation: reveal 0.6s 1 linear;
}
@-webkit-keyframes reveal {
  from {
    width: 250px;
  }
  to {
    width: 20.25px;
  }
}
@keyframes reveal {
  from {
    width: 250px;
  }
  to {
    width: 20.25px;
  }
}
.orders .main-container .order-summary .credit.active {
  display: inline-block;
}
.orders .main-container .order-summary img {
  max-width: 120px;
  display: block;
  margin: 0 auto;
  display: none;
  opacity: 0.5;
}
.orders .main-container .order-summary img.active {
  display: block;
}/*# sourceMappingURL=global.css.map */