.items {
    margin-top: 61px;

    @media (max-width: 501px) {
        margin-top: 130px;
    }

    .items-box {
        max-width: 100%;
        width: 100%;
        min-height: 100px;
        border: 1px solid rgb(231, 231, 231);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .item {
            max-width: 186px;
            width: 100%;
            height: 411px;
            border-right: 1px solid rgb(231, 231, 231);
            border-top: 1px solid rgb(231, 231, 231);
            padding: 40px 25px 25px 25px;
            box-sizing: content-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: none;

            @media (max-width: 475px) {
                border-left: 1px solid rgb(231, 231, 231);
                max-width: 120px;
                border-right: none;
            }

            .img-placeholder {
                max-width: 162px;
                width: 100%;
                height: 180px;
                display: block;
                margin: 0 auto;
                object-fit: contain;
            }

            .item-name {
                color: rgb(33, 33, 33);
                font-size: 17px;
                font-weight: 600;

                @media (max-width: 475px) {
                    font-size: 15px;
                }
            }

            .stars {
                display: flex;
                max-width: 186px;
                width: 100%;
                height: 22px;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 100px;
                    height: 20px;
                }

                .ratings {
                    margin-left: 10px;
                    font-size: 17px;
                    color: #017cb6;
                    cursor: pointer;
                }
            }

            .price {
                font-weight: 700;
            }

            select {
                background-color: rgb(240, 240, 240);
                border: 1px solid rgb(213, 217, 217);
                border-radius: 8px;
                padding: 3px 5px;
                font-size: 15px;
                cursor: pointer;
                box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
                outline: none;

                &:focus {
                    outline: 2px solid #F08804;
                }
            }

            .button-div {
                width: 100%;
                margin-top: 50px;
                position: relative;

                .added-message {
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    opacity: 0;
                    transition: all 0.2s;

                    p {
                        color: #067d62;
                        font-weight: 600;
                        margin-left: 5px;
                        font-size: 18px;
                    }

                    i {
                        font-size: 18px;
                    }

                    &.active {
                        opacity: 1;
                    }

                }


                button {
                    background-color: rgb(255, 216, 20);
                    border: none;
                    width: 100%;
                    padding: 8px;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all 0.15s;

                    &:hover {
                        background-color: rgb(214, 181, 18);
                    }

                    &:active {
                        background-color: rgb(255, 222, 60);
                    }
                }
            }
        }
    }
}